<header class="top-bar">
    <div class="top-bar-left">
        <button class="hamburger-btn" id="toggleSidebar"
            (click)="handleCollapseSidebar();">
            <span class="material-symbols-outlined">menu</span>
        </button>
        <div class="menu-header">
            <h2>Client Desktop</h2>
            <p>Workflow Management</p>
        </div>
    </div>
    <button class="primary-btn">
        <span class="material-symbols-outlined">swap_horiz</span>
        Switch to Admin Console
    </button>
</header>