<aside id="sidebar" class="sidebar" [ngClass]="{ 'collapsed': collapseSidebar() }">
    <div class="sidebar-header">
        <div class="logo-box">
            <span class="logo-icon">
                <img src="assets/logo.svg" alt="WorkFlow">
            </span>
            <div class="logo-txt">
                <h1>{{ 'appName' | translate }}</h1>
                <p>{{ 'appSubName' | translate }}</p>
            </div>
        </div>
    </div>
    <div class="mid-section">
        <div class="nav-section">
            <p class="section-label">Operations</p>
            @for (prcItem of userProjDetails(); track $index) {
                <a class="nav-item" [class.active]="prcItem.open" (click)="toggleProcess(prcItem)">
                    <div class="nav-content">
                        <span class="material-symbols-outlined">package_2</span>
                        <span>{{prcItem?.process_name ?? '-'}}</span>
                    </div>
                    <span class="material-symbols-outlined color-sec">
                        {{ prcItem.open ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
                    </span>
                </a>
                @if (prcItem.open && prcItem?.activities?.length > 0) {
                    @for (actItem of prcItem?.activities; track $index) {
                        <div class="sub-menu">
                            <a class="sub-item">
                                {{actItem?.activity_name ?? '-'}}
                                <span class="badge">{{actItem?.work_item_count}}</span>
                            </a>
                        </div>
                    }
                }
            }
        </div>
        <div class="nav-section" style="border: none;">
            <p class="section-label">Management</p>
            <a class="nav-item">
                <span class="material-symbols-outlined">group</span>
                Customer Management
                <span class="material-symbols-outlined mrlft">
                    keyboard_arrow_down
                </span>
            </a>
            <a class="nav-item">
                <span class="material-symbols-outlined">dashboard</span>
                Dashboards
                <span class="material-symbols-outlined mrlft">
                    keyboard_arrow_down
                </span>
            </a>
        </div>
    </div>
    <div class="user-footer">
        <button (click)="handleLogout();">Logout</button>
        <img src="assets/user.jpg" class="avatar" alt="User">
        <div class="user-details">
            <span class="user-name">Shrey Sharma</span>
            <span class="user-email">shrey&#64;gmail.in</span>
        </div>
    </div>
</aside>
