/* --- Main Content --- */
.main-content {
  overflow-y: auto;
  flex: 1 1 auto;
  min-width: 0;
}

::ng-deep html[dir="ltr"] .collapse-side {
  transform: translateX(-270px);
  width: 0px;
}

::ng-deep html[dir="rtl"] .collapse-side {
  transform: translateX(270px);
  width: 0px;
}